@font-face {
    font-family: SF-Pro-Display;
    src: url("/fonts/SF-Pro-Display-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: SF-Pro-Display;
    src: url("/fonts/SF-Pro-Display-Regular.otf");
    font-weight: 400;
}
body {
    font-family: SF-Pro-Display;
    background-color: #F8E8D5 ;
}
.main-container {
    margin-left: 25%;
    margin-right: 25%;
    top: 10%;
    position: absolute;
    text-align: center;
}
.image {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
img {
    width: 50px;
    height: 50px;
}
h1 {
    color: black;
    font-size: 50px;
    margin-bottom: 0%;
}
h2 {
    font-weight: 400;
    margin-top: 0%;
}
ul{
    list-style: none;
    padding-left: 0px;
}
li {
    display: inline;
}