@font-face {
  font-family: "Computer-Modern-Serif";
  src: url("./fonts/cm-serif.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Computer-Modern-Serif";
  src: url("./fonts/cm-serif-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Computer-Modern-Serif";
  src: url("./fonts/cm-serif-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Computer-Modern-Serif";
  src: url("./fonts/cm-serif-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Computer-Modern-Sans";
  src: url("./fonts/cm-sans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Computer-Modern-Sans";
  src: url("./fonts/cm-sans-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Computer-Modern-Sans";
  src: url("./fonts/cm-sans-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Computer-Modern-Sans";
  src: url("./fonts/cm-sans-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
html,
body {
  background-color: #141413;
  height: 100%;
  margin: 0;
}
body {
  color: #faf8f7;
  font-family: "Computer-Modern-Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: clamp(15px, 1.5vw + 1.5vh, 22px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 25%;
  padding-right: 25%;
}
.name {
  font-size: 1.75em;
}
.header,
.footer > ul {
  font-size: 0.9em;
}
.email {
  font-size: 0.9em;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #d87657;
  transition: transform 0.1s ease;
}
a:hover {
  transform: scale(1.025);
}

ul {
  /* font-style: italic; */
  font-weight: normal;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0.5em;
}
li > a {
  /* text-decoration: underline; */
  /* text-decoration-color: #fcbf49; */
}
li > a:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: #f76f53; */
}
.copyright {
  font-size: 0.8em;
}
.footer-list {
  /* text-align: left; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  gap: 0; /* spacing between items */
  /* grid-auto-rows: auto; */
}
/* vertical viewing */
@media (aspect-ratio < 3/4) {
  .main {
    padding-left: 10%;
    padding-right: 10%;
  }

  .header-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    gap: 0; /* spacing between items */
    /* grid-auto-rows: auto; */
  }
}
